@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>Awesome, you successfully done the payment.</p>
        <hr>
        <p class="mb-0">We sent your order details through SMS.</p>
    </div>
</div>